In [1]:
import requests
from bs4 import BeautifulSoup as soup
import pandas as pd

In [2]:
link = "https://www.indeed.com/jobs?q=data%20analyst&l=united%20states&fromage=last"
request = requests.get(link)
page = soup(request.content, 'html.parser')

In [3]:
page = soup(request.content, 'html.parser')
page=page.find('td', id="resultsCol")

In [4]:
titles = []
companies = []
location = []

In [5]:
for k in page.find_all('h2',class_="jobtitle"):
    title = k.a.get_text()
    titles.append(title)
for x in page.find_all('span', class_='location'):
    x = x.get_text()
    location.append(x)
for l in page.find_all('div',class_='companyInfoWrapper'):
    company = l.span.get_text()
    companies.append(company)

In [6]:
df1 = pd.DataFrame(companies)
df2 = pd.DataFrame(titles)
df3 = pd.DataFrame(location)
result = df2.join(df1, how='left', lsuffix='Title', rsuffix='Company')
result = result.join(df3)

In [7]:
result.to_csv('results.csv')

In [8]:
result

,0Title,0Company,0
0,Consulting Data Analyst,\n\n Kaiser Permanente,"Fontana, CA 92335"
1,Data Analyst,\n Honor,"San Francisco, CA 94110 (Mission area)"
2,Data Analyst,\n\n DocuSign,"San Francisco, CA 94105 (Financial District area)"
3,"Data Analyst, Users and Products",\n\n Google,"Mountain View, CA"
4,Data Analyst,\n\n IBM,"New York, NY 10002 (Lower East Side area)"
5,Marketing Data Analyst Intern,\n\n Grubhub,"New York, NY"
6,Intern - Business Process and Customer Data An...,\n\n Airlines Reporting Corporation (ARC),"Arlington, VA"
7,"Consulting Data Analyst - SAS, SQL",\n\n Kaiser Permanente,"Santa Clara, CA"
8,Sr. Data Analyst,\n Wikimedia Foundation,"San Francisco, CA 94107-8350"
9,Data Analyst - Downtown Chicago,\n\n AMITA Health,"Lisle, IL 60532"